*{
    box-sizing: border-box;
}
.option{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    background-color: rgb(236, 233, 233);
    line-height: 30px;
    border-radius: 2px;
}
.option a{
    text-decoration: none;
    color: black;
}

.page{
    width: 250px;
    margin: auto;
    font-size: 13px;
}
.page ul{
    list-style: none;
    display: flex;
}
.page> ul>li{
   padding: 8px;
   border: 1px solid rgb(235, 229, 229);
}
.page> ul>li a{
   text-decoration: none;
   color: black;
 }
.page> ul>li:first-child{
    border-radius: 5px 0 0 5px;
 }
 .page> ul>li:last-child{
    border-radius: 0 5px 5px 0;
 }
 
 .page> ul> .active3 {
    background-color: darkgreen;
  }
  .page> ul> .active3 a{
    color: white;
  }
