.body{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}
.body__slide{
    height: 50%;
    width: 100%;
    display: flex;
    position: relative;
    /* overflow: hidden; */
}
.body__slide img:first-child{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
}
.body__slide img:nth-child(2){
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
}
.body__slide img:nth-child(3){
    position: relative;
    width: 100%;
    height: 100%;
    left: -100%;
}